/* register-style.css : 등록 페이지 전용 오버라이드 */

/* 아바타 크기 조정 (메인보다 0.8배 정도 작게) */
#userAvatar {
  width: 34px !important;
  height: 34px !important;
}

/* 드롭다운 위치도 살짝 위로 맞춤 */
#profileMenu {
  top: 54px !important;
}
